
$prefix: lsc-;


$primary: #337ab7;          // More friendly color
$warning: #d9d469;          // More friendly color
// $danger:  rgb(243, 68, 68); // More freindly color


:root {
    --submenu-transition-time:  200ms;
    --sidebar-width:            250px;
    --footer-height:             25px;
  }
  